<p>Prezado, </p>
<br>
<p>
  O serviço
  <br>
  <b><%= @service_type %> <%= @folio %></b>

  <br>
  <br>
  
  ID da transação
  <br>
  <b><%= @transaction_id %></b> - <b><%= @time %></b>
  <br>
  <p>foi pago e o comprovante foi gerado.</p>
</p>

<p>
  Para maiores detalhes clique  <a href="<%= @url %>">aqui</a>
</p>

<br>

<p>
  <p>Equipe miele</p>
</p>
