<p>Estimado(a): </p>
<br>
<p>
  El servicio
  <br>
  <b><%= @service_type %> <%= @folio %></b>

  <br>
  <br>
  
  ID de transacción
  <br>
  <b><%= @transaction_id %></b> - <b><%= @time %></b>
  <br>
  <p>ha sido pagado y se encuentra listo para su revisión</p>
</p>

<p>
  Para ver más detalles ingresar <a href="<%= @url %>">aquí</a>
</p>

<br>

<p>
  <p>Equipo Miele.</p>
</p>
