<div class="error-image">
    <div class="row text-center">
        <%= image_tag('logo/logo.png', alt: 'miele', class: 'logo-miele center-logo')%>
    </div>
    
    <div class="row text-center error-div">
        <div id="checkout" class="MuiContainer-root MuiContainer-maxWidthLg" data-hook>
          <div class="text-uppercase checkout-header-title">
            <h1 data-hook="checkout_title">
              <legend>Se ha acreditado su pago con exito.</legend>
            </h1>
          </div>
          <div class="row checkout-content" data-hook="checkout_content">
              <div data-hook="webpay_field_wrapper">
                  <fieldset id="billing" data-hook>
                    <hr class="clear" />
                    <p>Pago N°: <%= @payment.number %> <%= @payment.object_class %>: <%= @payment.customer_id %>-<%= @payment.object_id %></p>
                    <p>Gracias por su pago. Ahora daremos seguimiento a su solicitud</p>
                  </fieldset>
                  <hr class="clear" />
            </div>  
          </div>
          <div class="row text-center error-div">
              <div class="col-md-12">
                  <span id="close-app-btn" class="btn btn-extra btn-primary-custom hidden" onclick="sendPostMessageToApp()">
                      CERRAR
                  </span>
              </div>
          </div>
        </div>
    </div>
</div>

<script>
    function sendPostMessageToApp() {
        window.postMessage("close:webview");
        window.ReactNativeWebView.postMessage("close:webview");
    }
</script>